VITE_APIBASEURL=https://vicav.acdh-ch-dev.oeaw.ac.at/vicav
VITE_MAP_TILELAYER=https://api.mapbox.com/styles/v1/acdh-ch-tech/cllp2n7aj004a01r7fl637bq1/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWNkaC1jaC10ZWNoIiwiYSI6ImNsZXpnMDdpODBlc2Q0MGwzOGZmaWNveDgifQ.yYx8e9PdsDl-NzOpGXAL7g
VITE_MAP_INITIAL_X=19.064
VITE_MAP_INITIAL_Y=24.544
VITE_MAP_INITIAL_Z=4

