VITE_APIBASEURL=https://vicav.acdh-ch-dev.oeaw.ac.at/vicav
VITE_MAP_TILELAYER=https://api.mapbox.com/styles/v1/acetin/cjb22mkrf16qf2spyl3u1vee3/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWNldGluIiwiYSI6ImNqYjIybG5xdTI4OWYyd285dmsydGFkZWQifQ.xG4sN5u8h-BoXaej6OjkXw
VITE_MAP_INITIAL_X=19.064
VITE_MAP_INITIAL_Y=24.544
VITE_MAP_INITIAL_Z=4

