@import "bootstrap/scss/bootstrap";

body{
  padding-top: 104px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444444;
  text-align: left;
  background-color: #F1F1F1;
}

.navbar{
  background-color: #252771;
  color: #fff;
}

body .navbar ul.navbar-nav .navbar-icons a{
  color: #fff;
  padding-left: 15px;
}

body .navbar ul.navbar-nav .navbar-icons a:hover{
  color: #88dcdf;
}

@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
}

.main-footer{
  background-color: #262770;
  color: #fff;
}

.main-footer a{
  color: #a85c8e;
}

footer h3::after{
  display: none;
}

.footer-sep{
  border-bottom: 1px solid #ffffff;
}

.footer-imprint-bar{
  background-color: #a85c8e;
}

.footer-imprint-bar a{
  color: #27276f;
}

img.footer-acdh-logo{
  width: 100px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }
h1, .h1 { font-size: 2.5rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

h3::after {
  content: '';
  display: block;
  width: 100%;
  border-top: 4px solid rgb(168, 93, 143);
  margin-top: 4px;
  margin-bottom: 4px;
}
h4::after{
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid rgb(168, 93, 143);
  margin-top: 4px;
  margin-bottom: 4px;
}

p, ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

.tbHeader {
  width: 100%;
}
.aTEIButton {
  border: 1px solid rgb(168, 93, 143);
  border-radius: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: rgb(168, 93, 143) !important;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.newsHeader {
  color: white;
  background: rgb(168,93,143);
  padding-left: 20px;
  padding-bottom: 5px;
}
.newsItem {
  border: 0.5px dotted rgb(168,93,143);
  background: rgb(246, 237, 243);
  margin-top: 2px;
  padding-left: 5px;
  padding-top: 2px;
}
.aVicText {
  color: rgb(168, 93, 143) !important;
  text-decoration: none !important;
  background-color: transparent;
  cursor: pointer;
}
.aVicText:hover {
  background-color: rgb(168, 93, 143);
  cursor: pointer;
  color: white !important;
}
.tbQueryExamples {
  border-collapse: collapse;
  width: 100%;
}
.tdQuery {
  border: 1px solid rgb(168, 93, 143);
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  background: rgb(222, 222, 222);
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}
.checkboxLabel {
  margin-right: 20px;
  padding-left: 6px;
}

.dvDictResults {
  border: 1px solid black;
  color: rgb(93, 75, 24);
  /* background: rgb(249, 246, 224); */
  background: white;
  margin-top: 20px;
}
.dvStats {
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid rgb(168, 93, 143);
  background: rgb(168, 93, 143);
  color: white;
  font-weight: bold;
}
.dvRoundLemmaBox_ltr {
  text-align: left;
  direction: ltr;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 2px;
  position: relative;
  top: 3px;
  left: -15px;
  max-width: 420px;
  border-radius: 5px;
  background: rgb(222, 222, 222);
  font-weight: bold;
  font-size: larger;
  color: rgb(168, 93, 143);
  border: 1px solid rgb(168, 93, 143);
  vertical-align: baseline;
}
.spGramGrp {
  color: rgb(75, 131, 97);
  font-style: italic;
  font-size: smaller;
  vertical-align: baseline;
}
.spRoot {
  font-size: smaller;
  color: rgb(155, 148, 23);
  vertical-align: baseline;
}
.tbEntry {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90%;
  max-width: 90%;
}
.tdHead {
  color: #fff;
  text-align: right;
  padding-right: 5px;
  width: 150px;
  word-wrap: break-word;
  vertical-align: top;
  background: rgb(168, 93, 143);
  border-bottom: 0.5px dotted rgb(221, 157, 199);
}
.tdKWICMain {
  border-bottom: 0.5px dotted rgb(85, 99, 201);
  padding-left: 5px;
}
.tdCrossResultsLocation {
  border: 1px solid black;
  background: rgb(168, 93, 143);
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}
.tdCrossResultsLemma {
  border: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
}

.imgIllustration {
  height: 100px;
  margin: 5px;
  float: right;
}
